.c-brand-section {
  @include flex-grid-row();

  flex-direction: column;
  margin-bottom: rem-calc(64px);
  text-align: center;

  .brand-section__title {
    @include text-hide;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto rem-calc(32px);
  }

  .brand-section__content {
    @include breakpoint(medium) {
      @include flex-grid-column(10 of 12);

      margin: 0 auto rem-calc(16px);
    }

    @include breakpoint(large) {
      @include flex-grid-column(8 of 12);

      margin: 0 auto rem-calc(16px);
    }
  }
}
