
.c-brands__list {
  @include flex-grid-row();

  flex-direction: column;
  margin-bottom: 32px;

  @include breakpoint(medium) {
    flex-direction: row;
  }
}

.c-brands__intro {
  margin-bottom: 50px;
  text-align: center;

  .intro__title {
    font-family: $font-family-playfair;
    color: $color-american-flame-red;
  }
}

.c-brands__item {
  @include flex-grid-column();

  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: (-zf-get-bp-val($grid-column-gutter, small) * 2);

  @include breakpoint(medium) {
    margin-bottom: 0;

    &:first-child {
      padding-left: (-zf-get-bp-val($grid-column-gutter, small) / 2);

      @include breakpoint(medium) {
        padding-left: (-zf-get-bp-val($grid-column-gutter, medium) / 2);
      }
    }

    &:last-child {
      padding-right: (-zf-get-bp-val($grid-column-gutter, small) / 2);

      @include breakpoint(medium) {
        padding-right: (-zf-get-bp-val($grid-column-gutter, medium) / 2);
      }
    }
  }

  a {
    border-bottom: none;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    opacity: 0.8;
  }

  h3 {
    @include text-hide;
  }
}
