%c-card {
  background-color: $color-black-05;
  transition: background-color 0.2s, box-shadow 0.2s;
  width: 100%;
  height: 100%;

  .c-card__thumb {
    position: relative;
    background-color: $color-white;
    border-bottom: solid 1px #ddd;

    img {
      width: 100%;
    }

    .thumb__overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#ccc, 0.2);
      transition: opacity 0.2s, background-color 0.2s;

      .button {
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }

  .c-card__content {
    @include grid-column-gutter();

    padding-top: rem-calc(12px);
    padding-bottom: rem-calc(12px);

    a {
      border-bottom: none;
    }

    .content__title {
      font-family: $font-family-playfair;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
    }
  }

  &:hover {
    background-color: $color-white;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);

    .thumb__overlay {
      background-color: rgba(#000, 0.4);

      .button {
        opacity: 1;
      }
    }
  }
}

.c-card {
  @extend %c-card;
}

.c-card--cat {
  @extend %c-card;

  .c-card__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: rem-calc(12px);

    img {
      width: auto;
      height: 100%;
      max-height: 200px;
    }
  }

  .c-card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110px;
    text-align: center;
  }
}

.c-card--prod {
  @extend %c-card;

  .c-card__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: rem-calc(32);

    img {
      width: auto;
      height: 100%;
      max-height: 300px;
    }
  }

  .c-card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110px;
    text-align: center;
    flex-flow: column;
    background-color: $color-american-flame-red;

    .content__title {
      color: $color-white;
    }

    .content__model_num {
      color: $color-white;
      font-size: rem-calc(14px);
      margin-bottom: rem-calc(6px);
    }
  }
}

.c-card--design {
  @extend %c-card;

  .c-card__content {
    height: auto;

    .content__title {
      color: $color-american-flame-red;
    }

    .content__meta {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 8px;
      color: $color-black;

      .author {
        font-weight: bold;
      }
    }
  }
}

.c-card--page {
  @extend %c-card;

  .c-card__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 12px;

    img {
      width: auto;
      height: 100%;
      max-height: 200px;
    }
  }

  .c-card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110px;
    text-align: center;
  }
}

.c-card--brand {
  @extend %c-card;

  .c-card__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 12px;

    img {
      width: auto;
      height: auto;
    }
  }

  .c-card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110px;
    text-align: center;
  }
}
