.c-cart {
  .cart__table {
    background-color: $color-white;

    thead {
      border-top: solid 1px $color-black-20;
      border-bottom: solid 1px $color-black-20;
    }

    tbody {
      // placeholder
    }
  }
}

.c-cart-item {
  input {
    margin-bottom: 0;
  }

  .item__item {
    display: flex;
    flex-direction: row;

    .item__thumb {
      flex-grow: 0;
      display: flex;
      align-items: center;
      margin-right: -zf-get-bp-val($grid-column-gutter, small);

      @include breakpoint(medium) {
        margin-right: -zf-get-bp-val($grid-column-gutter, medium);
      }
    }

    .item__title {
      flex-grow: 2;
      display: flex;
      align-items: center;
      font-family: $font-family-playfair;
    }
  }

  .item__qty {
    input {
      width: 60px;
      box-shadow: none;
      border: solid 1px $color-black;
    }
  }

  .item__subtotal {
    font-weight: bold;
  }
}

.c-cart-collaterals {
  background-color: $color-black-05;

  @include grid-column-gutter();
}
