.c-category-nav {
  .nav-item {
    display: flex;
    background-color: $color-black-05;
    position: relative;
    margin-bottom: 1rem;
  }

  .nav-link {
    padding: 1rem 2rem;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: $font-family-playfair;
    font-weight: $header-font-weight;
    color: $color-american-flame-red;
    font-size: 20px;
    line-height: 24px;

    @include breakpoint(large) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
