%c-feat-products {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

%c-feat-products__intro {
  text-align: center;

  .intro__title {
    font-family: $font-family-playfair;
    color: $color-american-flame-red;
  }
}

.c-feat-products {
  @extend %c-feat-products;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80% auto;
  position: relative;
  margin-top: -40px;
  padding-top: 170px;

  @include breakpoint(medium) {
    margin-top: -70px;
    padding-top: 280px;
  }

  @include breakpoint(large) {
    margin-top: -120px;
    padding-top: 460px;
    background-size: 1000px auto;
  }
}

.c-feat-products__intro {
  @extend %c-feat-products__intro;
}

.c-feat-products__cards {
  @include breakpoint(medium) {
    @include flex-grid-row(12);
  }

  @include breakpoint(large) {
    @include flex-grid-row(12);
  }

  .cards__card-wrap {
    display: flex;
    margin-bottom: (-zf-get-bp-val($grid-column-gutter, small) / 2);

    @include grid-column-gutter();

    @include breakpoint(medium) {
      @include flex-grid-column(4 of 12);
    }
  }
}
