.c-feat-product {
  height: 600px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  .title {
    font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: $color-white;
    margin-bottom: 24px;
  }

  .link {
    .button {
      color: $color-white;
      border-color: $color-american-flame-red;
      background-color: $color-american-flame-red;
    }
  }
}
