%c-feat-design {
  margin-top: 60px;
  margin-bottom: 60px;
}

%c-feat-design__intro {
  text-align: center;

  .intro__title {
    font-family: $font-family-playfair;
    color: $color-american-flame-red;
  }
}

.c-feat-design {
  @extend %c-feat-design;
}

.c-feat-design__intro {
  @extend %c-feat-design__intro;
}

.c-feat-design__cards {
  @include breakpoint(medium) {
    @include flex-grid-row(12);
  }

  .cards__card-wrap {
    display: flex;
    margin-bottom: ( -zf-get-bp-val($grid-column-gutter, small) / 2 );

    @include grid-column-gutter();

    @include breakpoint(medium) {
      @include flex-grid-column(4 of 12);
    }
  }
}
