.c-footer__support {
  background-color: #162440;
  padding: 72px 0 93px;

  .support__col {
    @include grid-column(8 of 12);
    @include grid-column-offset(2 of 12);

    margin-bottom: rem-calc(26px);

    @include breakpoint(medium) {
      @include grid-column(7 of 24);
      @include grid-column-offset(1 of 24);

      margin-bottom: 0;

      &:first-child {
        @include grid-column-offset(0 of 24);
      }
    }
  }

  .support__title {
    color: $color-american-flame-red;
    font-family: $font-family-playfair;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 16px;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  p {
    font-weight: 300;
    text-align: center;
    color: $color-white;

    @include breakpoint(medium) {
      text-align: left;
    }
  }
}

.c-footer__subscribe {
  background-color: $color-black-05;
  color: $color-black;
  padding: 40px 0 66px;

  .subscribe__title {
    font-family: $font-family-playfair;
    font-size: 32px;
    line-height: 43px;
    color: $color-american-flame-red;
  }

  .subscribe__copy {
    padding: 0 30px;
    text-align: center;

    p {
      font-size: rem-calc(16px);
      line-height: rem-calc(24px);

      @include breakpoint(medium) {
        font-size: rem-calc(14px);
        line-height: rem-calc(18px);
      }
    }
  }

  .subscribe__form {
    align-self: center;
  }
}

.c-footer__about {
  @include clearfix;

  background-color: $color-white;
  padding: 37px 0 27px;
  border-bottom: solid 1px $color-black-20;

  .about__brand {
    @include text-hide;

    width: 130px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto rem-calc(32px);

    @include breakpoint(medium) {
      display: inline;
      float: left;
      margin: 0 rem-calc(14px) rem-calc(16px) 0;
    }
  }

  .about__content {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-top: 4px;
    margin-bottom: rem-calc(32px);
    text-align: center;

    @include breakpoint(medium) {
      display: inline;
      text-align: left;
      margin-bottom: 0;
    }

    p:first-child {
      padding-top: 2px;
    }
  }

  .about__social {
    .social__title {
      display: none;

      @include breakpoint(medium) {
        display: block;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        margin-top: 5px;
        margin-bottom: rem-calc(16px);
      }
    }

    .social__links {
      ul {
        display: flex;
        margin: 0;
        justify-content: center;

        @include breakpoint(medium) {
          justify-content: left;
        }

        li {
          list-style: none;
          display: block;
          padding: 0 rem-calc(16px);

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.c-footer__sitemap {
  border-bottom: solid 1px #dde2e8;
  padding: 34px 0 67px;

  .sitemap__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 18px;
  }
}

.c-footer__copyright {
  background-color: $color-white;
  text-align: center;
  padding: 43px 0 31px;
  font-size: 10px;
  line-height: 16px;
}
