.c-form {
  // placeholder
}

.c-form--subscribe {
  .wpcf7-not-valid-tip {
    display: none;
  }

  .wpcf7-response-output {
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }

    .wpcf7-mail-sent-ok {
      color: $color-white;
    }
  }
}
