.c-nav-top {
  @include clearfix;

  background-color: $color-presidential-blue;
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: 0.06px;
  line-height: 22px;
}

.c-nav-top__l,
.c-nav-top__r {
  margin: 0;

  li {
    list-style: none;
  }

  > li {
    display: inline-block;

    ul {
      display: none;
    }
  }

  a {
    color: $color-white;
    border-bottom: none;
  }
}

.c-nav-top__l {
  li {
    margin-right: 24px;
  }
}

.c-nav-top__r {
  li {
    margin-left: 24px;
  }
}
