.c-nav-mobile {
  padding-bottom: 64px;
}

.c-nav-mobile__nav {
  margin-bottom: 32px;

  .menu-item {
    background: $drilldown-background;

    a,
    .menu-item__link {
      display: flex;
      margin: 0 1rem;
      padding: 1rem 0;
      line-height: 1;
      border-bottom: solid 1px $color-black-10;
      font-weight: bold;
      color: $color-black;

      &::after {
        right: rem-calc(4);
      }
    }

    &:last-child {
      a {
        border-bottom: none;
      }
    }

    .sub-menu {
      margin: 0;
    }
  }

  .menu-item--top {
    background-color: $color-black-05;
  }

  .drilldown {
    background: $drilldown-background;

    .is-drilldown-submenu-parent > a::after {
      right: 0;
    }
  }

  .close-button {
    color: $color-american-flame-red;
  }
}

.c-nav-mobile__footer {
  .footer__brand {
    display: flex;
    justify-content: center;
    margin-bottom: rem-calc(32px);

    .brand__img {
      height: 87px;
      width: auto;
    }
  }

  .footer__social {
    .social__title {
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: rem-calc(32px);
    }

    .social__links {
      ul {
        display: flex;
        justify-content: center;
        margin: 0;

        li {
          font-size: rem-calc(22px);
          list-style: none;
          display: block;
          padding: 0 rem-calc(24px);

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
