.c-page-hero {
  width: 100%;
  height: 300px;
  position: relative;

  @include breakpoint(medium) {
    height: 500px;
  }

  .slide__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color-black, 0.7);
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: rem-calc(12);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(80);
    height: 500px;
  }

  > .row {
    height: 100%;
    position: relative;
  }

  .hero__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .title {
      font-size: 52px;
      line-height: 68px;
      font-weight: 700;
      text-align: center;

      @include breakpoint(medium) {
        text-align: left;
      }

      color: $color-white;
    }
  }
}
