.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(238, 238, 238, 0.5);

  &::before {
    @include usstove-icon;

    color: $color-american-flame-red;
    display: block;
    font-size: 16px;
  }
}

.slick-prev {
  left: -55px;
  z-index: 10;

  &:hover {
    background-color: rgba(238, 238, 238, 1);
  }

  &::before {
    content: $usstove-icon_interface_Chevron-Down-Alt;
    transform: rotate(90deg);
  }
}

.slick-next {
  right: -55px;
  z-index: 10;

  &:hover {
    background-color: rgba(238, 238, 238, 1);
  }

  &::before {
    content: $usstove-icon_interface_Chevron-Down-Alt;
    transform: rotate(-90deg);
  }
}
