.c-breadcrumb {
  margin-top: rem-calc(24px);
  margin-bottom: rem-calc(16px);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  padding-left: 6px;

  li {
    list-style: none;
    display: inline-block;

    &::after {
      content: '>';
      margin-left: 12px;
      margin-right: 12px;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
