//$ussc-form__color--light: #7f8488;
//$ussc-form__color--faint: #cacaca;
//$ussc-form__color--border: #ccc;
//$ussc-form__color--primary: $color-american-flame-red;
//$ussc-form__color--secondary: #ccc;
//$ussc-form__color--secondary--alt: darken($ussc-form__color--secondary, 10%);
//$ussc-form__color--chevron: #162440;

//@import "select2--ussc/layout";

.select2-container--default {
  .select2-selection--single {
    border-radius: 0;
    height: 39px;

    .select2-selection__rendered {
      line-height: rem-calc(39px);
      font-family: $font-family-roboto;
      font-weight: normal;
      color: $color-black;
    }

    .select2-selection__arrow {
      height: 39px;
    }
  }
}

button[type="submit"],
input[type="submit"] {
  .usstove-spinner {
    display: none;
    margin-left: rem-calc(18);
  }
}
