body.home {
  background-color: #13224b;
  background-image: radial-gradient(#13224b, #000);
}

.row--wide {
  @include flex-grid-row(null, rem-calc(1318));
}

.row--4 {
  @include flex-grid-row(4);

  &.collapse {
    @include flex-grid-row($behavior: nest, $columns: 4);
  }

  .col-1 {
    @include flex-grid-column(1 of 4);
  }

  .col-2 {
    @include flex-grid-column(2 of 4);
  }

  .col-3 {
    @include flex-grid-column(3 of 4);
  }

  .col-4 {
    @include flex-grid-column(4 of 4);
  }
}
