$usstove-font-family: "USStove";
$usstove-font-path: "../fonts/usstove";

$usstove-spinner6: "\e97f";
$usstove-icon_interface_Add: "\e913";
$usstove-icon_interface_Add-Circle: "\e918";
$usstove-icon_interface_Arrow-Down: "\e90b";
$usstove-icon_interface_Arrow-Right: "\e919";
$usstove-icon_interface_Checkbox-Checked-Circle-Only: "\e910";
$usstove-icon_interface_Checkmark-Circle-Fill: "\e916";
$usstove-icon_interface_Chevron-Down: "\e91f";
$usstove-icon_interface_Chevron-Down-Alt: "\e926";
$usstove-icon_interface_Chevron-Up: "\e912";
$usstove-icon_interface_Chevron-Up-Alt: "\e927";
$usstove-icon_interface_Close: "\e911";
$usstove-icon_interface_Dots-Vertical: "\e924";
$usstove-icon_interface_Edit: "\e909";
$usstove-icon_interface_Help-Stroke: "\e90c";
$usstove-icon_interface_Location: "\e90e";
$usstove-icon_interface_Menu: "\e925";
$usstove-icon_interface_Profile: "\e915";
$usstove-icon_interface_Search: "\e90a";
$usstove-icon_interface_ShoppingCart: "\e91e";
$usstove-icon_social_Comments-Outline: "\e904";
$usstove-icon_social_Facebook: "\e91b";
$usstove-icon_social_Heart-Fill: "\e91d";
$usstove-icon_social_Instagram: "\e905";
$usstove-icon_social_Star_Fill: "\e91c";
$usstove-icon_social_Twitter: "\e900";
$usstove-icon_social_Youtube: "\e928";
$usstove-ui_forms_Radio_Disabled: "\e91a";
$usstove-ui_forms_Radio_Hover: "\e917";
$usstove-ui_forms_Radio_Normal: "\e903";
$usstove-ui_forms_Radio_Selected: "\e90d";
$usstove-ui_forms_checkbox_Disabled-path1: "\e901";
$usstove-ui_forms_checkbox_Disabled-path2: "\e902";
$usstove-ui_forms_checkbox_Hover: "\e923";
$usstove-ui_forms_checkbox_Indeterminate: "\e914";
$usstove-ui_forms_checkbox_Normal: "\e90f";
$usstove-ui_forms_checkbox_Selected: "\e922";
$usstove-ui_forms_switch_OFF-path1: "\e906";
$usstove-ui_forms_switch_OFF-path2: "\e907";
$usstove-ui_forms_switch_OFF-path3: "\e908";
$usstove-ui_forms_switch_ON-path1: "\e920";
$usstove-ui_forms_switch_ON-path2: "\e921";

/* stylelint-disable */
@font-face {
  font-family: '#{$usstove-font-family}';
  src: url('#{$usstove-font-path}/#{$usstove-font-family}.eot?694of2');
  src: url('#{$usstove-font-path}/#{$usstove-font-family}.eot?694of2#iefix') format('embedded-opentype'),
  url('#{$usstove-font-path}/#{$usstove-font-family}.ttf?694of2') format('truetype'),
  url('#{$usstove-font-path}/#{$usstove-font-family}.woff?694of2') format('woff'),
  url('#{$usstove-font-path}/#{$usstove-font-family}.svg?694of2##{$usstove-font-family}') format('svg');

  font-weight: normal;
  font-style: normal;
}

@mixin usstove-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$usstove-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="usstove-"], [class*=" usstove-"] {
  @include usstove-icon;
}

.usstove-spinner6 {
  &:before {
    content: $usstove-spinner6;
  }
}
.usstove-icon_interface_Add {
  &:before {
    content: $usstove-icon_interface_Add;
  }
}
.usstove-icon_interface_Add-Circle {
  &:before {
    content: $usstove-icon_interface_Add-Circle;
  }
}
.usstove-icon_interface_Arrow-Down {
  &:before {
    content: $usstove-icon_interface_Arrow-Down;
  }
}
.usstove-icon_interface_Arrow-Right {
  &:before {
    content: $usstove-icon_interface_Arrow-Right;
  }
}
.usstove-icon_interface_Checkbox-Checked-Circle-Only {
  &:before {
    content: $usstove-icon_interface_Checkbox-Checked-Circle-Only;
  }
}
.usstove-icon_interface_Checkmark-Circle-Fill {
  &:before {
    content: $usstove-icon_interface_Checkmark-Circle-Fill;
  }
}
.usstove-icon_interface_Chevron-Down {
  &:before {
    content: $usstove-icon_interface_Chevron-Down;
  }
}
.usstove-icon_interface_Chevron-Down-Alt {
  &:before {
    content: $usstove-icon_interface_Chevron-Down-Alt;
  }
}
.usstove-icon_interface_Chevron-Up {
  &:before {
    content: $usstove-icon_interface_Chevron-Up;
  }
}
.usstove-icon_interface_Chevron-Up-Alt {
  &:before {
    content: $usstove-icon_interface_Chevron-Up-Alt;
  }
}
.usstove-icon_interface_Close {
  &:before {
    content: $usstove-icon_interface_Close;
  }
}
.usstove-icon_interface_Dots-Vertical {
  &:before {
    content: $usstove-icon_interface_Dots-Vertical;
  }
}
.usstove-icon_interface_Edit {
  &:before {
    content: $usstove-icon_interface_Edit;
  }
}
.usstove-icon_interface_Help-Stroke {
  &:before {
    content: $usstove-icon_interface_Help-Stroke;
  }
}
.usstove-icon_interface_Location {
  &:before {
    content: $usstove-icon_interface_Location;
  }
}
.usstove-icon_interface_Menu {
  &:before {
    content: $usstove-icon_interface_Menu;
  }
}
.usstove-icon_interface_Profile {
  &:before {
    content: $usstove-icon_interface_Profile;
  }
}
.usstove-icon_interface_Search {
  &:before {
    content: $usstove-icon_interface_Search;
  }
}
.usstove-icon_interface_ShoppingCart {
  &:before {
    content: $usstove-icon_interface_ShoppingCart;
  }
}
.usstove-icon_social_Comments-Outline {
  &:before {
    content: $usstove-icon_social_Comments-Outline;
  }
}
.usstove-icon_social_Facebook {
  &:before {
    content: $usstove-icon_social_Facebook;
  }
}
.usstove-icon_social_Heart-Fill {
  &:before {
    content: $usstove-icon_social_Heart-Fill;
  }
}
.usstove-icon_social_Instagram {
  &:before {
    content: $usstove-icon_social_Instagram;
  }
}
.usstove-icon_social_Star_Fill {
  &:before {
    content: $usstove-icon_social_Star_Fill;
  }
}
.usstove-icon_social_Twitter {
  &:before {
    content: $usstove-icon_social_Twitter;
  }
}
.usstove-icon_social_Youtube {
  &:before {
    content: $usstove-icon_social_Youtube;
  }
}
.usstove-ui_forms_Radio_Disabled {
  &:before {
    content: $usstove-ui_forms_Radio_Disabled;
    color: #999;
  }
}
.usstove-ui_forms_Radio_Hover {
  &:before {
    content: $usstove-ui_forms_Radio_Hover;
  }
}
.usstove-ui_forms_Radio_Normal {
  &:before {
    content: $usstove-ui_forms_Radio_Normal;
    color: #999;
  }
}
.usstove-ui_forms_Radio_Selected {
  &:before {
    content: $usstove-ui_forms_Radio_Selected;
  }
}
.usstove-ui_forms_checkbox_Disabled .path1 {
  &:before {
    content: $usstove-ui_forms_checkbox_Disabled-path1;
    color: rgb(153, 153, 153);
  }
}
.usstove-ui_forms_checkbox_Disabled .path2 {
  &:before {
    content: $usstove-ui_forms_checkbox_Disabled-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.2;
  }
}
.usstove-ui_forms_checkbox_Hover {
  &:before {
    content: $usstove-ui_forms_checkbox_Hover;
  }
}
.usstove-ui_forms_checkbox_Indeterminate {
  &:before {
    content: $usstove-ui_forms_checkbox_Indeterminate;
  }
}
.usstove-ui_forms_checkbox_Normal {
  &:before {
    content: $usstove-ui_forms_checkbox_Normal;
    color: #999;
  }
}
.usstove-ui_forms_checkbox_Selected {
  &:before {
    content: $usstove-ui_forms_checkbox_Selected;
  }
}
.usstove-ui_forms_switch_OFF .path1 {
  &:before {
    content: $usstove-ui_forms_switch_OFF-path1;
    color: rgb(32, 32, 32);
  }
}
.usstove-ui_forms_switch_OFF .path2 {
  &:before {
    content: $usstove-ui_forms_switch_OFF-path2;
    margin-left: -1.6669921875em;
    color: rgb(32, 32, 32);
  }
}
.usstove-ui_forms_switch_OFF .path3 {
  &:before {
    content: $usstove-ui_forms_switch_OFF-path3;
    margin-left: -1.6669921875em;
    color: rgb(255, 255, 255);
  }
}
.usstove-ui_forms_switch_ON .path1 {
  &:before {
    content: $usstove-ui_forms_switch_ON-path1;
    color: rgb(19, 206, 102);
  }
}
.usstove-ui_forms_switch_ON .path2 {
  &:before {
    content: $usstove-ui_forms_switch_ON-path2;
    margin-left: -1.6669921875em;
    color: rgb(255, 255, 255);
  }
}


/* stylelint-enable */