/* Colors */

// Primary
$color-american-flame-red: #db3d40;
$color-daybreak-blue: #c0dff0;
$color-presidential-blue: #162440;
$color-industrial-blue: #144d70;
$color-silverstone-grey: #d1c8c8;

// Base Shades + Tones
$color-black: #000a12;
$color-black-90: #191919;
$color-black-80: #333;
$color-black-70: #4c4c4c;
$color-black-60: #666;
$color-black-50: #7f7f7f;
$color-black-40: #999;
$color-black-30: #b2b2b2;
$color-black-20: #ccc;
$color-black-10: #e5e5e5;
$color-black-05: #f4f4f4;
$color-white: #fff;

// UI
$color-error: #ff4949;
$color-success: #13ce66;
$color-warning: #ffcc3d;
$color-confirmation: #75d8ff;
