.select2-selection--single {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent $color-black-20;
  border-radius: 0;
  height: 34px;

  .select2-selection__rendered {
    color: #444;
    line-height: 34px;
    padding-left: 0;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__placeholder {
    color: $select2--ussc__placeholder-color;
  }

  .select2-selection__arrow {
    height: 34px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;

    /* stylelint-disable */
    &::before {
      @include usstove-icon;
      content: $usstove-icon_interface_Chevron-Down;
      font-size: 24px;
      color: $select2--ussc__chevron-color;
    }
    /* stylelint-enable */
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: #eee;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
      }
    }
  }
}

.select2-container--above.select2-container--open {
  .select2-selection {
    border-color: $ussc-form__color--border $ussc-form__color--border $ussc-form__color--border $ussc-form__color--border;
  }
}
