/* stylelint-disable */
.wpcf7 {
  margin: 0;
  padding: 0;

  .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .wpcf7-response-output {

    &.wpcf7-mail-sent-ok {
      color: $color-success;
    }

    &.wpcf7-spam-blocked,
    &.wpcf7-validation-errors,
    &.wpcf7-acceptance-missing,
    &.wpcf7-mail-sent-ng,
    &.wpcf7-aborted {
      color: $color-error;
    }
  }

  .wpcf7-form-control-wrap {
    position: relative;
  }

  .wpcf7-not-valid-tip {
    color: $color-error;
    font-size: 1em;
    font-weight: normal;
    display: block;
  }

  .wpcf7-not-valid {
    border-color: $color-error;
  }

  .use-floating-validation-tip .wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid $color-error;
    background: $color-white;
    padding: .2em .8em;
  }

  .wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
  }

  .wpcf7-list-item-label::before,
  .wpcf7-list-item-label::after {
    content: " ";
  }

  .wpcf7-display-none {
    display: none;
  }

  .ajax-loader {
    position: absolute;
    visibility: hidden;
    display: inline-block;
    //background-image: url('../../images/ajax-loader.gif');
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;

    &.is-active {
      visibility: visible;
    }
  }

  .ajax-error {
    display: none;
  }

  .placeheld {
    color: $color-black-50;
  }

  .wpcf7-recaptcha iframe {
    margin-bottom: 0;
  }

  input[type="file"] {
    cursor: pointer;
  }

  input[type="file"]:disabled {
    cursor: default;
  }

  .wpcf7-submit:disabled {
    cursor: not-allowed;
  }
}

/* stylelint-enable */
