.l-main {
  padding-bottom: 0;

  .search-results & {
    padding-top: rem-calc(16px);
  }

  .page &,
  .single & {
    @include breakpoint(medium) {
      padding-bottom: rem-calc(80);
      min-height: 600px;
    }
  }

  .home & {
    padding-bottom: 0;
  }
}
