.woocommerce-products-header {
  @include breakpoint(large) {
    @include flex-grid-column(10 of 12);
    @include grid-column-offset(1 of 12);
  }
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  text-align: center;
  width: 100%;
  list-style: none;

  @include breakpoint(medium) {
    text-align: left;
  }

  .button {
    display: block;
    width: 100%;
    margin-bottom: rem-calc(16px);
    text-transform: uppercase;
    font-weight: bold;

    @include breakpoint(medium) {
      display: inline-block;
      width: auto;
      max-width: none;
      margin-right: rem-calc(16px);
      margin-bottom: 0;
    }
  }
}

.woocommerce-shipping-methods,
.wc_payment_methods {
  list-style-type: none;
  margin-left: 0;
}

.sv-wc-payment-gateway-icon.wc-authorize-net-aim-payment-gateway-icon {
  display: inline;
}

#ship-to-different-address {
  font-family: $font-family-roboto;
}

.woocommerce-thankyou-order-failed,
.woocommerce-thankyou-order-received,
.woocommerce-thankyou-order-details {
  text-align: center;
  font-weight: bold;
  font-size: rem-calc(20px);
  line-height: rem-calc(29px);
  letter-spacing: rem-calc(0.09px);
}

.woocommerce-thankyou-order-details {
  list-style: none;
  margin: 0;
}

.woocommerce-products-header__title {
  font-family: $font-family-roboto;
  font-size: rem-calc(14px);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;
  margin-top: rem-calc(16px);
  margin-bottom: rem-calc(16px);
}

/* stylelint-disable */
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-credit-card-form-input[type="tel"],
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-credit-card-form-input[type="text"],
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-echeck-form-input[type="tel"],
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-echeck-form-input[type="text"],
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-form-nickname,
#add_payment_method input.js-sv-wc-payment-gateway-credit-card-form-input[type="tel"],
#add_payment_method input.js-sv-wc-payment-gateway-credit-card-form-input[type="text"],
#add_payment_method input.js-sv-wc-payment-gateway-echeck-form-input[type="tel"],
#add_payment_method input.js-sv-wc-payment-gateway-echeck-form-input[type="text"],
#add_payment_method input.js-sv-wc-payment-gateway-form-nickname {
  font-size: 1em;
}

/* stylelint-enable */

.payment_box {
  padding-left: (-zf-get-bp-val($grid-column-gutter, small) / 2);
  padding-right: (-zf-get-bp-val($grid-column-gutter, small) / 2);

  @include breakpoint(medium) {
    padding-left: (-zf-get-bp-val($grid-column-gutter, medium) / 2);
    padding-right: (-zf-get-bp-val($grid-column-gutter, medium) / 2);
  }
}

.woocommerce-MyAccount-navigation {
  background-color: $color-black-05;
  padding: (-zf-get-bp-val($grid-column-gutter, small) / 2);
  margin-bottom: rem-calc(32px);

  @include breakpoint(medium) {
    padding: (-zf-get-bp-val($grid-column-gutter, medium) / 2);
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    line-height: rem-calc(40px);
    border-bottom: solid 1px $color-white;
    font-weight: normal;

    &:last-child {
      border-bottom: none;
    }
  }
}
